body {
  min-height: 1000px;
}

.navbar-static-top {
  margin-bottom: 19px;

}
.navbar-default {
    background-color: #f8f8f8;
  }

.navbar-default .navbar-brand {
      color: #777;
  }
.navbar-default .navbar-brand {
      color: #777;
  }

.navbar-default .navbar-nav>li>a:hover {
      color: #777;
  }

/*hamburger menu css*/
.navbar-default .navbar-toggle {
      border-color: transparent !important;
  }

.navbar-toggle:hover {
  background-color: #D2CCCC !important;
}

.navbar-toggle {
    background-color: #f8f8f8 !important;
  }
