{% extends 'base_difference.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load next %}

<style>
{% block style %}
.form-submit {
  position: relative;
}
.control-label {
  font-size: 25px;
  text-align: centre;
}
.unchanged{
  color: gray;
  display: inline;
}
.added {
  color:#3F6B4A;
  background:#74EC92;
  display: inline;
}
.deleted {
  color: #944E4E;
  background: #E08080;
  display: inline;
}

/*.input-container {
  padding-left: 5px;
  padding-right: 5px;
}*/
.result-text{
    font-size: 0;
}
.unchanged,
.deleted,
.added {
  font-size:20  px;
}
{% endblock %}
</style>
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <td class="result-text">
        {% if result %}
          {% for item in result %}
            {% if item.0 == 0 %}
              <span class="unchanged">{{item.1|linebreaksbr}}</span>
            {% endif %}
            {% if item.0 == -1 %}
            <span class="deleted">{{item.1|linebreaksbr}}</span>
            {% endif %}
            {% if item.0 == 1 %}
            <span class="added"> {{item.1|linebreaksbr}}</span>
            {% endif %}
            {% endfor %}
        {% endif %}
        <!-- {{prettyHTML|safe}} -->
      </td>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">

        <form id="TextInput" method='POST' action=''>
          {% csrf_token %}
          {% crispy form %}

          <div id="form-submit">
            <button class="btn btn-default">Text Difference</button>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script src="{% static 'js/simple_text_difference/submit_form.js' %}"></script>
{% endblock %}
