{% extends 'base_fuel_price.html' %}
{% load crispy_forms_tags%}
{% load staticfiles %}
{% include 'autocomplete_light/static.html' %}


<style>
  {% block style %}
    .card {
      background:#FFF;
      border:1px solid #AAA;
      border-bottom:3px solid #BBB;
      padding:0px;
      margin-top: 15px;
      overflow:hidden;
          }

    .card h1 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;
            }
    .card p {
        margin:0px;
        padding:10px;
    }

.tab-content {
    /*background-color: #E2DCDC;*/
  }
#PostalCodeForm {
  display: inline;
  float: left;
}
#form-submit {
  display: inline;
  padding-top: 25px;
  float: left;
}
  {% endblock %}
</style>

{% block content %}
<input type="hidden" id="fuel-graph-data" name="variable" value="{{fuel_data_json}}">
<input type="hidden" id="brent-graph-data" name="variable" value="{{brent_data_json}}">
<div class="container">
  <div class="row">
  <div class="col-sm-12">
  <form id="PostalCodeForm" method='POST' autocomplete="off" action=''>
    {% csrf_token %}
    {% crispy form %}
  </form>
  <div id="form-submit">
    <button class="btn btn-primary">Get Fuel Price Data</button>
  </div>
</div>
</div>
<div class="parent-tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#historical">Historical</a></li>
    <li><a data-toggle="tab" href="#current">Current</a></li>
    <li><a data-toggle="tab" href="#future">Future</a></li>
  </ul>

<!-- <div class="tab-content"> -->
  <div id="historical" class="tab-pane fade in active">
    <div class="sub-tabs">
      <ul class="nav nav-tabs">
        {% for key, item in fuel_data %}
        <li><a data-toggle="tab" href="#{{key|slugify}}">{{key}}</a></li>
        {% endfor %}
      </ul>
      {% for key, item in fuel_data %}
        <div id="{{key|slugify}}">

          <!-- <canvas id="myChart" width="500px" height="300px"></canvas> -->
          <!-- <p>{{key}}</p>
          {{item}} -->

        </div>
      {% endfor %}
      <div id="graph1" style="width:100%; height:300px;"></div>

    </div>
  </div>
  <!-- <div class = "col-sm-12 col-xs-12 pull-left">
    <h1>Insert graphics here</h1>
    <div id="MortgageGraph" style="width:100%; height:300px;"></div>
  </div> -->
  <div id="current" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="future" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>
</div>

{% endblock %}

{% block js %}
{% include 'autocomplete_light/static.html' %}
  <script src="{% static 'js/fuel_price/submit_form.js' %}"></script>
  <!-- <script src="{% static 'js/fuel_price/historical_graph.js' %}"></script> -->
  <script src="{% static 'js/fuel_price/manage_tabs.js' %}"></script>

{% endblock %}
